<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>City</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <form @submit.prevent="submitForm" novalidate>
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Edit</h3>
                            </div>

                            <div class="box-body">
                                <back-buttton></back-buttton>
                            </div>

                            <bootstrap-alert />

                            <div class="box-body">
                                <div class="form-group">
                                    <label for="name">Name *</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="name"
                                            placeholder="Enter Name *"
                                            :value="item.name"
                                            @input="updateName"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="lattitude">Lattitude</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="lattitude"
                                            placeholder="Enter Lattitude"
                                            :value="item.lattitude"
                                            @input="updateLattitude"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="longitude">Longitude</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="longitude"
                                            placeholder="Enter Longitude"
                                            :value="item.longitude"
                                            @input="updateLongitude"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="state">State *</label>
                                    <v-select
                                            name="state"
                                            label="name"
                                            @input="updateState"
                                            :value="item.state"
                                            :options="statesAll"
                                            />
                                </div>
                            </div>

                            <div class="box-footer">
                                <vue-button-spinner
                                        class="btn btn-primary btn-sm"
                                        :isLoading="loading"
                                        :disabled="loading"
                                        >
                                    Save
                                </vue-button-spinner>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            // Code...
        }
    },
    computed: {
        ...mapGetters('CitiesSingle', ['item', 'loading', 'statesAll']),
    },
    created() {
        this.fetchData(this.$route.params.id)
    },
    destroyed() {
        this.resetState()
    },
    watch: {
        "$route.params.id": function() {
            this.resetState()
            this.fetchData(this.$route.params.id)
        }
    },
    methods: {
        ...mapActions('CitiesSingle', ['fetchData', 'updateData', 'resetState', 'setName', 'setLattitude', 'setLongitude', 'setState']),
        updateName(e) {
            this.setName(e.target.value)
        },
        updateLattitude(e) {
            this.setLattitude(e.target.value)
        },
        updateLongitude(e) {
            this.setLongitude(e.target.value)
        },
        updateState(value) {
            this.setState(value)
        },
        submitForm() {
            this.updateData()
                .then(() => {
                    this.$router.push({ name: 'cities.index' })
                    this.$eventHub.$emit('update-success')
                })
                .catch((error) => {
                    console.error(error)
                })
        }
    }
}
</script>


<style scoped>

</style>
