<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Profiles</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <form @submit.prevent="submitForm" novalidate>
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Create</h3>
                            </div>

                            <div class="box-body">
                                <back-buttton></back-buttton>
                            </div>

                            <bootstrap-alert />

                            <div class="box-body">
                                <div class="form-group">
                                    <label for="firstname">Firstname *</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="firstname"
                                            placeholder="Enter Firstname *"
                                            :value="item.firstname"
                                            @input="updateFirstname"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="lastname">Lastname *</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="lastname"
                                            placeholder="Enter Lastname *"
                                            :value="item.lastname"
                                            @input="updateLastname"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="photo">Photo</label>
                                    <input
                                            type="file"
                                            class="form-control"
                                            @change="updatePhoto"
                                    >
                                    <ul v-if="item.photo" class="list-unstyled">
                                        <li>
                                            {{ item.photo.name || item.photo.file_name }}
                                            <button class="btn btn-xs btn-danger"
                                                    type="button"
                                                    @click="removePhoto"
                                            >
                                                Remove file
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <label for="date_of_birthday">Date of birthday</label>
                                    <date-picker
                                            :value="item.date_of_birthday"
                                            :config="$root.dpconfigDate"
                                            name="date_of_birthday"
                                            placeholder="Enter Date of birthday"
                                            @dp-change="updateDate_of_birthday"
                                            >
                                    </date-picker>
                                </div>
                                <div class="form-group">
                                    <label for="adresse">Adresse</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="adresse"
                                            placeholder="Enter Adresse"
                                            :value="item.adresse"
                                            @input="updateAdresse"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="date_inscription">Date inscription</label>
                                    <date-picker
                                            :value="item.date_inscription"
                                            :config="$root.dpconfigDate"
                                            name="date_inscription"
                                            placeholder="Enter Date inscription"
                                            @dp-change="updateDate_inscription"
                                            >
                                    </date-picker>
                                </div>
                                <div class="form-group">
                                    <label for="sexe">Sexe</label>
                                    <div class="radio">
                                        <label>
                                            <input
                                                    type="radio"
                                                    name="sexe"
                                                    :value="item.sexe"
                                                    :checked="item.sexe === 'femme'"
                                                    @change="updateSexe('femme')"
                                                    >
                                            Femme
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input
                                                    type="radio"
                                                    name="sexe"
                                                    :value="item.sexe"
                                                    :checked="item.sexe === 'homme'"
                                                    @change="updateSexe('homme')"
                                                    >
                                            Homme
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="status">Status</label>
                                    <div class="radio">
                                        <label>
                                            <input
                                                    type="radio"
                                                    name="status"
                                                    :value="item.status"
                                                    :checked="item.status === 'etudiant'"
                                                    @change="updateStatus('etudiant')"
                                                    >
                                            Etudiant
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input
                                                    type="radio"
                                                    name="status"
                                                    :value="item.status"
                                                    :checked="item.status === 'employee'"
                                                    @change="updateStatus('employee')"
                                                    >
                                            Employee
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input
                                                    type="radio"
                                                    name="status"
                                                    :value="item.status"
                                                    :checked="item.status === 'chomeur'"
                                                    @change="updateStatus('chomeur')"
                                                    >
                                            Chomeur
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="academic">Academic</label>
                                    <v-select
                                            name="academic"
                                            label="title"
                                            @input="updateAcademic"
                                            :value="item.academic"
                                            :options="academicsAll"
                                            multiple
                                            />
                                </div>
                                <div class="form-group">
                                    <label for="experience">Experience</label>
                                    <v-select
                                            name="experience"
                                            label="title"
                                            @input="updateExperience"
                                            :value="item.experience"
                                            :options="experiencesAll"
                                            multiple
                                            />
                                </div>
                                <div class="form-group">
                                    <label for="user">User *</label>
                                    <v-select
                                            name="user"
                                            label="name"
                                            @input="updateUser"
                                            :value="item.user"
                                            :options="usersAll"
                                            />
                                </div>
                            </div>

                            <div class="box-footer">
                                <vue-button-spinner
                                        class="btn btn-primary btn-sm"
                                        :isLoading="loading"
                                        :disabled="loading"
                                        >
                                    Save
                                </vue-button-spinner>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            // Code...
        }
    },
    computed: {
        ...mapGetters('ProfilesSingle', ['item', 'loading', 'academicsAll', 'experiencesAll', 'usersAll'])
    },
    created() {
        this.fetchAcademicsAll(),
        this.fetchExperiencesAll(),
        this.fetchUsersAll()
    },
    destroyed() {
        this.resetState()
    },
    methods: {
        ...mapActions('ProfilesSingle', ['storeData', 'resetState', 'setFirstname', 'setLastname', 'setPhoto', 'setDate_of_birthday', 'setAdresse', 'setDate_inscription', 'setSexe', 'setStatus', 'setAcademic', 'setExperience', 'setUser', 'fetchAcademicsAll', 'fetchExperiencesAll', 'fetchUsersAll']),
        updateFirstname(e) {
            this.setFirstname(e.target.value)
        },
        updateLastname(e) {
            this.setLastname(e.target.value)
        },
        removePhoto(e, id) {
            this.$swal({
                title: 'Are you sure?',
                text: "To fully delete the file submit the form.",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Delete',
                confirmButtonColor: '#dd4b39',
                focusCancel: true,
                reverseButtons: true
            }).then(result => {
                if (typeof result.dismiss === "undefined") {
                    this.setPhoto('');
                }
            })
        },
        updatePhoto(e) {
            this.setPhoto(e.target.files[0]);
            this.$forceUpdate();
        },
        updateDate_of_birthday(e) {
            this.setDate_of_birthday(e.target.value)
        },
        updateAdresse(e) {
            this.setAdresse(e.target.value)
        },
        updateDate_inscription(e) {
            this.setDate_inscription(e.target.value)
        },
        updateSexe(value) {
            this.setSexe(value)
        },
        updateStatus(value) {
            this.setStatus(value)
        },
        updateAcademic(value) {
            this.setAcademic(value)
        },
        updateExperience(value) {
            this.setExperience(value)
        },
        updateUser(value) {
            this.setUser(value)
        },
        submitForm() {
            this.storeData()
                .then(() => {
                    this.$router.push({ name: 'profiles.index' })
                    this.$eventHub.$emit('create-success')
                })
                .catch((error) => {
                    console.error(error)
                })
        }
    }
}
</script>


<style scoped>

</style>
