<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Profiles</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">View</h3>
                        </div>

                        <div class="box-body">
                            <back-buttton></back-buttton>
                        </div>

                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-6">
                                    <table class="table table-bordered table-striped">
                                        <tbody>
                                        <tr>
                                            <th>#</th>
                                            <td>{{ item.id }}</td>
                                        </tr>
                                        <tr>
                                            <th>Firstname</th>
                                            <td>{{ item.firstname }}</td>
                                            </tr>
                                        <tr>
                                            <th>Lastname</th>
                                            <td>{{ item.lastname }}</td>
                                            </tr>
                                        <tr>
                                            <th>Photo</th>
                                            <td v-html="item.photo_link"></td>
                                            </tr>
                                        <tr>
                                            <th>Date of birthday</th>
                                            <td>{{ item.date_of_birthday }}</td>
                                            </tr>
                                        <tr>
                                            <th>Adresse</th>
                                            <td>{{ item.adresse }}</td>
                                            </tr>
                                        <tr>
                                            <th>Date inscription</th>
                                            <td>{{ item.date_inscription }}</td>
                                            </tr>
                                        <tr>
                                            <th>Sexe</th>
                                            <td>{{ item.sexe }}</td>
                                            </tr>
                                        <tr>
                                            <th>Status</th>
                                            <td>{{ item.status }}</td>
                                            </tr>
                                        <tr>
                                            <th>Academic</th>
                                            <td>
                                                <span class="label label-info" v-for="academic in item.academic">
                                                    {{ academic.title }}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Experience</th>
                                            <td>
                                                <span class="label label-info" v-for="experience in item.experience">
                                                    {{ experience.title }}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>User</th>
                                            <td>
                                                <span class="label label-info" v-if="item.user !== null">
                                                    {{ item.user.name }}
                                                </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            // Code...
        }
    },
    created() {
        this.fetchData(this.$route.params.id)
    },
    destroyed() {
        this.resetState()
    },
    computed: {
        ...mapGetters('ProfilesSingle', ['item'])
    },
    watch: {
        "$route.params.id": function() {
            this.resetState()
            this.fetchData(this.$route.params.id)
        }
    },
    methods: {
        ...mapActions('ProfilesSingle', ['fetchData', 'resetState'])
    }
}
</script>


<style scoped>

</style>
