<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Cadre</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <form @submit.prevent="submitForm" novalidate>
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Edit</h3>
                            </div>

                            <div class="box-body">
                                <back-buttton></back-buttton>
                            </div>

                            <bootstrap-alert />

                            <div class="box-body">
                                <div class="form-group">
                                    <label for="title">Title *</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="title"
                                            placeholder="Enter Title *"
                                            :value="item.title"
                                            @input="updateTitle"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <vue-ckeditor
                                            name="description"
                                            :id="'description'"
                                            :value="item.description"
                                            @input="updateDescription"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="date_beginn">Date beginn</label>
                                    <date-picker
                                            :value="item.date_beginn"
                                            :config="$root.dpconfigDate"
                                            name="date_beginn"
                                            placeholder="Enter Date beginn"
                                            @dp-change="updateDate_beginn"
                                            >
                                    </date-picker>
                                </div>
                                <div class="form-group">
                                    <label for="date_end">Date end</label>
                                    <date-picker
                                            :value="item.date_end"
                                            :config="$root.dpconfigDate"
                                            name="date_end"
                                            placeholder="Enter Date end"
                                            @dp-change="updateDate_end"
                                            >
                                    </date-picker>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input
                                                    type="checkbox"
                                                    name="active"
                                                    :value="item.active"
                                                    :checked="item.active == true"
                                                    @change="updateActive"
                                                    >
                                            Active
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="box-footer">
                                <vue-button-spinner
                                        class="btn btn-primary btn-sm"
                                        :isLoading="loading"
                                        :disabled="loading"
                                        >
                                    Save
                                </vue-button-spinner>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            // Code...
        }
    },
    computed: {
        ...mapGetters('CadresSingle', ['item', 'loading']),
    },
    created() {
        this.fetchData(this.$route.params.id)
    },
    destroyed() {
        this.resetState()
    },
    watch: {
        "$route.params.id": function() {
            this.resetState()
            this.fetchData(this.$route.params.id)
        }
    },
    methods: {
        ...mapActions('CadresSingle', ['fetchData', 'updateData', 'resetState', 'setTitle', 'setDescription', 'setDate_beginn', 'setDate_end', 'setActive']),
        updateTitle(e) {
            this.setTitle(e.target.value)
        },
        updateDescription(value) {
            this.setDescription(value)
        },
        updateDate_beginn(e) {
            this.setDate_beginn(e.target.value)
        },
        updateDate_end(e) {
            this.setDate_end(e.target.value)
        },
        updateActive(e) {
            this.setActive(e.target.checked)
        },
        submitForm() {
            this.updateData()
                .then(() => {
                    this.$router.push({ name: 'cadres.index' })
                    this.$eventHub.$emit('update-success')
                })
                .catch((error) => {
                    console.error(error)
                })
        }
    }
}
</script>


<style scoped>

</style>
