<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Roles</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <form @submit.prevent="submitForm" novalidate>
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Create</h3>
                            </div>

                            <div class="box-body">
                                <back-buttton></back-buttton>
                            </div>

                            <bootstrap-alert />

                            <div class="box-body">
                                <div class="form-group">
                                    <label for="title">Title *</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="title"
                                            placeholder="Enter Title *"
                                            :value="item.title"
                                            @input="updateTitle"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="cadre">Cadre</label>
                                    <v-select
                                            name="cadre"
                                            label="title"
                                            @input="updateCadre"
                                            :value="item.cadre"
                                            :options="cadresAll"
                                            multiple
                                            />
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <vue-ckeditor
                                            name="description"
                                            :id="'description'"
                                            :value="item.description"
                                            @input="updateDescription"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="permission">Permissions *</label>
                                    <v-select
                                            name="permission"
                                            label="title"
                                            @input="updatePermission"
                                            :value="item.permission"
                                            :options="permissionsAll"
                                            multiple
                                            />
                                </div>
                                <div class="form-group">
                                    <label for="logo">Logo</label>
                                    <input
                                            type="file"
                                            class="form-control"
                                            @change="updateLogo"
                                    >
                                    <ul v-if="item.logo" class="list-unstyled">
                                        <li>
                                            {{ item.logo.name || item.logo.file_name }}
                                            <button class="btn btn-xs btn-danger"
                                                    type="button"
                                                    @click="removeLogo"
                                            >
                                                Remove file
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input
                                                    type="checkbox"
                                                    name="active"
                                                    :value="item.active"
                                                    :checked="item.active == true"
                                                    @change="updateActive"
                                                    >
                                            Active
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="date_beginn">Date beginn</label>
                                    <date-picker
                                            :value="item.date_beginn"
                                            :config="$root.dpconfigDate"
                                            name="date_beginn"
                                            placeholder="Enter Date beginn"
                                            @dp-change="updateDate_beginn"
                                            >
                                    </date-picker>
                                </div>
                                <div class="form-group">
                                    <label for="date_end">Date end</label>
                                    <date-picker
                                            :value="item.date_end"
                                            :config="$root.dpconfigDate"
                                            name="date_end"
                                            placeholder="Enter Date end"
                                            @dp-change="updateDate_end"
                                            >
                                    </date-picker>
                                </div>
                                <div class="form-group">
                                    <label for="country">Country</label>
                                    <v-select
                                            name="country"
                                            label="title"
                                            @input="updateCountry"
                                            :value="item.country"
                                            :options="countriesAll"
                                            />
                                </div>
                                <div class="form-group">
                                    <label for="state">State</label>
                                    <v-select
                                            name="state"
                                            label="name"
                                            @input="updateState"
                                            :value="item.state"
                                            :options="statesAll"
                                            />
                                </div>
                                <div class="form-group">
                                    <label for="city">City</label>
                                    <v-select
                                            name="city"
                                            label="name"
                                            @input="updateCity"
                                            :value="item.city"
                                            :options="citiesAll"
                                            />
                                </div>
                            </div>

                            <div class="box-footer">
                                <vue-button-spinner
                                        class="btn btn-primary btn-sm"
                                        :isLoading="loading"
                                        :disabled="loading"
                                        >
                                    Save
                                </vue-button-spinner>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            // Code...
        }
    },
    computed: {
        ...mapGetters('RolesSingle', ['item', 'loading', 'cadresAll', 'permissionsAll', 'countriesAll', 'statesAll', 'citiesAll'])
    },
    created() {
        this.fetchCadresAll(),
        this.fetchPermissionsAll(),
        this.fetchCountriesAll(),
        this.fetchStatesAll(),
        this.fetchCitiesAll()
    },
    destroyed() {
        this.resetState()
    },
    methods: {
        ...mapActions('RolesSingle', ['storeData', 'resetState', 'setTitle', 'setCadre', 'setDescription', 'setPermission', 'setLogo', 'setActive', 'setDate_beginn', 'setDate_end', 'setCountry', 'setState', 'setCity', 'fetchCadresAll', 'fetchPermissionsAll', 'fetchCountriesAll', 'fetchStatesAll', 'fetchCitiesAll']),
        updateTitle(e) {
            this.setTitle(e.target.value)
        },
        updateCadre(value) {
            this.setCadre(value)
        },
        updateDescription(value) {
            this.setDescription(value)
        },
        updatePermission(value) {
            this.setPermission(value)
        },
        removeLogo(e, id) {
            this.$swal({
                title: 'Are you sure?',
                text: "To fully delete the file submit the form.",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Delete',
                confirmButtonColor: '#dd4b39',
                focusCancel: true,
                reverseButtons: true
            }).then(result => {
                if (typeof result.dismiss === "undefined") {
                    this.setLogo('');
                }
            })
        },
        updateLogo(e) {
            this.setLogo(e.target.files[0]);
            this.$forceUpdate();
        },
        updateActive(e) {
            this.setActive(e.target.checked)
        },
        updateDate_beginn(e) {
            this.setDate_beginn(e.target.value)
        },
        updateDate_end(e) {
            this.setDate_end(e.target.value)
        },
        updateCountry(value) {
            this.setCountry(value)
        },
        updateState(value) {
            this.setState(value)
        },
        updateCity(value) {
            this.setCity(value)
        },
        submitForm() {
            this.storeData()
                .then(() => {
                    this.$router.push({ name: 'roles.index' })
                    this.$eventHub.$emit('create-success')
                })
                .catch((error) => {
                    console.error(error)
                })
        }
    }
}
</script>


<style scoped>

</style>
