<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Roles</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">View</h3>
                        </div>

                        <div class="box-body">
                            <back-buttton></back-buttton>
                        </div>

                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-6">
                                    <table class="table table-bordered table-striped">
                                        <tbody>
                                        <tr>
                                            <th>#</th>
                                            <td>{{ item.id }}</td>
                                        </tr>
                                        <tr>
                                            <th>Title</th>
                                            <td>{{ item.title }}</td>
                                            </tr>
                                        <tr>
                                            <th>Cadre</th>
                                            <td>
                                                <span class="label label-info" v-for="cadre in item.cadre">
                                                    {{ cadre.title }}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Description</th>
                                            <td v-html="item.description"></td>
                                            </tr>
                                        <tr>
                                            <th>Permissions</th>
                                            <td>
                                                <span class="label label-info" v-for="permission in item.permission">
                                                    {{ permission.title }}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Logo</th>
                                            <td v-html="item.logo_link"></td>
                                            </tr>
                                        <tr>
                                            <th>Active</th>
                                            <td>{{ item.active }}</td>
                                            </tr>
                                        <tr>
                                            <th>Date beginn</th>
                                            <td>{{ item.date_beginn }}</td>
                                            </tr>
                                        <tr>
                                            <th>Date end</th>
                                            <td>{{ item.date_end }}</td>
                                            </tr>
                                        <tr>
                                            <th>Country</th>
                                            <td>
                                                <span class="label label-info" v-if="item.country !== null">
                                                    {{ item.country.title }}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>State</th>
                                            <td>
                                                <span class="label label-info" v-if="item.state !== null">
                                                    {{ item.state.name }}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>City</th>
                                            <td>
                                                <span class="label label-info" v-if="item.city !== null">
                                                    {{ item.city.name }}
                                                </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            // Code...
        }
    },
    created() {
        this.fetchData(this.$route.params.id)
    },
    destroyed() {
        this.resetState()
    },
    computed: {
        ...mapGetters('RolesSingle', ['item'])
    },
    watch: {
        "$route.params.id": function() {
            this.resetState()
            this.fetchData(this.$route.params.id)
        }
    },
    methods: {
        ...mapActions('RolesSingle', ['fetchData', 'resetState'])
    }
}
</script>


<style scoped>

</style>
